body{
    background-color: #040117;
    font-size: medium;
}
h1{
    color: #640792;
    text-align: center;
    font-size: xx-large;
}
#showaspects{
    text-align: center;
    margin-left: 300;
    margin-right: 300;
    font-size: xx-large;
}
#gobackbutton{
    font-size: medium;
}