<h1>To-do List</h1>
        <div class="lists" id=to-do>
        <ul>
            <li>
                <input type="checkbox"/>
                <a href="show/1">Do summer history homework:
                <span>120</span> min.</a>
            </li>
            <li>
                <input type="checkbox"/>
                <a href="show/2">Buy books:
                <span>40</span> min.</a>
            </li>
            <li>
                <input type="checkbox"/>
                <a href="show/3">Fold clothes:
                <span>30</span> min.</a>
            </li>
            <li>
                <input type="checkbox"/>
                <a href="show/4">Vaccuum floor:
                <span>10</span> min.</a>
            </li>
            <li>
                <input type="checkbox"/>
                <a href="show/5">Practice forms:
                <span>90</span> min.</a>
            </li>
        </ul>
        </div>
        <input type="submit" value="Create to-do" class="button" id="createbutton1"/>
        <input type="text" placeholder="To-do" class="write-in" id="write-to-do"/>
        <input type="number" placeholder="Minutes needed" class="write-in" id="minutesneeded"/>