<h1>Add To-do</h1>
<form action="/todo/create">
    <input type="submit" value="Create to:do" class="button" id="createbutton1" />
    <input type="text" placeholder="To-do" class="write-in" id="write-to-do" name="description" />
    <input type="number" placeholder="Minutes needed" class="write-in" id="minutesneeded" name="time_estimate"/>
    
</form>